
<h2>Editing Book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
  <%= form_with model:@book,local:true do |f|%>
    <label>Title</label>
    <div class="field"><%= f.text_field :title %></div>
    <label>Body</label>
    <div class="field"><%= f.text_area :body %></div>
    <%= f.submit'Update Book' %>
  <% end %>
<div class="buttons">
  <p><%= link_to "Show",book_path %></p>
  <p> | </p>
  <p><%= link_to "Back",books_path %></p>
</div>


